PORT = 
FRONTEND_URL = 
BACKEND_URL =  

DATABASE_URL =
PASSWORD_SECRET = 

REDIS_URL= 

RAZORPAY_KEY_ID = 
RAZORPAY_SECRET = 

IMAGEKIT_PRIVATE_KEY = 
IMAGEKIT_PUBLIC_KEY = 
IMAGEKIT_ID = 

BETTER_AUTH_SECRET = 

GITHUB_CLIENT_ID = 
GITHUB_CLIENT_SECRET = 

GOOGLE_CLIENT_ID =  
GOOGLE_CLIENT_SECRET = 

Project_number =  
Project_ID = 

#  for Pinecone_DB
PINECONE_API_KEY = 
GOOGLE_API_KEY = 
PINECONE_INDEX_NAME = 

